/* General */
@font-face {
  font-family: 'NokiaPureHeadline_Regular';
  src: url('../fonts/Nokia_Pure/NokiaPureHeadlineV1.170/NokiaPureHeadline_Regular.ttf');
}

@font-face {
  font-family: 'NokiaPureHeadline_Bold';
  src: url('../fonts/Nokia_Pure/NokiaPureHeadlineV1.170/NokiaPureHeadline_Bold.ttf');
}

@font-face {
  font-family: 'NokiaPureText_Light';
  src: url('../fonts/Nokia_Pure/NokiaPureTextEU_V1.210/NokiaPureText-Regular.ttf');
}

body{
    margin: 0;
    padding: 0;
    background-color: #000c1f;
   overflow:hidden;
}

*{
  font-family: NokiaPureText_Light !important;
}
.buttonClass:focus{
  outline: 0;
}

.buttonClass{
  background-color: transparent;
  border: 0;
  font-size: 44px;
        color: #03d0ff;
        cursor: pointer;
        z-index: 999;
        }

#chart {
  position: fixed;
  bottom: 7%;
  left: 32%;
}

.gauge .background {
  fill: #ddd;
}

.gauge .value {
  fill: #777;
  font-size:4rem;
}
.dispersion{
  font-size: 3em;
  color: #fff;
  text-align: center;
}



#myProgress {
  background-color: #03d0ff;
  height: 126px;
  width: 372px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9;
}


#myBar {
  width: 0%;
  height: inherit;
  background-color: #005a79;
}
#myBarText{
  text-align: center;
  line-height: 129px;
  position: absolute;
  font-size: 2.2rem;
  top: 0;
  width: 100%;
  color: #000c1f;
  text-indent: 78px;
}

.trails{
  list-style: none;
  position: fixed;
  top: 16%;
  right: 4.5%;
}
.trails li {
  border-bottom: 1px solid;
  font-size: 3rem;
  margin-bottom: 50px;
  padding-bottom: 14px;
}

.trail1{
  border-color:#87b256;
  color:#87b256;
}
.trail1 .pretty.p-default input:checked ~ .state label:after{
  background-color:#87b256;
}
.trail1 .trail,.trail1 .value{
  fill:#87b256;
}
.trail2{
  border-color: #9f8524;
  color: #9f8524;
}
.trail2 .pretty.p-default input:checked ~ .state label:after{
  background-color:#9f8524;
}
.trail2 .trail,.trail2 .value{
  fill:#9f8524;
}
.trail3{
  border-color: #874c1d;
  color: #874c1d;
}
.trail3 .pretty.p-default input:checked ~ .state label:after{
  background-color:#874c1d;
}
.trail3 .trail,.trail3 .value{
  fill:#874c1d;
}
.trail4{
  border-color: #a74f60;
  color: #a74f60;
}
#trailText{
  text-transform: uppercase;
}
.trail4 .pretty.p-default input:checked ~ .state label:after{
  background-color:#a74f60;
}
.trail4 .trail,.trail4 .value{
  fill:#a74f60;
}
.trail5{
  border-color: #883b5b;
  color: #883b5b;
}
.trail5 .pretty.p-default input:checked ~ .state label:after{
  background-color:#883b5b;
}
.trail5 .trail,.trail5 .value{
  fill:#883b5b;
}
.trail6{
  border-color: #8c4490;
  color: #8c4490;
}
.trail6 .pretty.p-default input:checked ~ .state label:after{
  background-color:#8c4490;
}
.trail6 .trail,.trail6 .value{
  fill:#8c4490;
}
.trail7{
  border-color: #372468;
  color: #372468;
}
.trail7 .pretty.p-default input:checked ~ .state label:after{
  background-color:#372468;
}
.trail7 .trail,.trail7 .value{
  fill:#372468;
}
.trail8{
  border-color: #21598a;
  color: #21598a;
}
.trail8 .pretty.p-default input:checked ~ .state label:after{
  background-color:#21598a;
}
.trail8 .trail,.trail8 .value{
  fill:#21598a;
}
.trail9{
  border-color: #148db7;
  color: #148db7;
}
.trail9 .pretty.p-default input:checked ~ .state label:after{
  background-color:#148db7;
}
.trail9 .trail,.trail9 .value{
  fill:#148db7;
}
.trail10{
  border-color: #15777b;
  color: #15777b;
}
.trail10 .pretty.p-default input:checked ~ .state label:after{
  background-color:#15777b;
}
.trail10 .trail,.trail10 .value{
  fill:#15777b;
}
.trailtable
{

font-size: 2.8rem;
width: 1421px;
position: fixed;
bottom: 5%;
left: 52%;
color: white;
border-spacing: 0;
text-transform: uppercase;
}

.trailtable th, .trailtable td{
  border-top: 1px solid gray;
  height: 110px;
  text-align: center;
}

.trailtable  tr > th:nth-child(1),.trailtable  tr > td:nth-child(1){
  text-align: left;
  padding-left: 40px;
}

.links span{
position: fixed;
font-size: 38px;
color: blue;
}