/* Fonts */

/* NokiaPureHeadline - bold */
 @font-face {
     font-family: 'NokiaPureHeadlineBold';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureHeadline_Bold/NokiaPureHeadline_Bold.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureHeadline Bold'), local('NokiaPureHeadline-Bold'), url("../fonts/NokiaPureHeadline_Bold/NokiaPureHeadline_Bold.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHeadline_Bold/NokiaPureHeadline_Bold.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHeadline_Bold/NokiaPureHeadline_Bold.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHeadline_Bold/NokiaPureHeadline_Bold.svg#NokiaPure") format('svg'); /* Legacy iOS */
}

/* NokiaPureHeadline - extrabold */
 @font-face {
     font-family: 'NokiaPureHeadlineExtraBold';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureHeadline_Bold/NokiaPureHeadline_ExtraBold.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureHeadline ExtraBold'), local('NokiaPureHeadline-ExtraBold'), url("../fonts/NokiaPureHeadline_ExtraBold/NokiaPureHeadline_ExtraBold.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHeadline_ExtraBold/NokiaPureHeadline_ExtraBold.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHeadline_ExtraBold/NokiaPureHeadline_ExtraBold.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHeadline_ExtraBold/NokiaPureHeadline_ExtraBold.svg#NokiaPure") format('svg'); /* Legacy iOS */
}

/* NokiaPureHeadline - light */
 @font-face {
     font-family: 'NokiaPureHeadlineLight';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureHeadline_Light/NokiaPureHeadline_Light.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureHeadline Light'), local('NokiaPureHeadline-Light'), url("../fonts/NokiaPureHeadline_Light/NokiaPureHeadline_Light.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHeadline_Light/NokiaPureHeadline_Light.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHeadline_Light/NokiaPureHeadline_Light.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHeadline_Light/NokiaPureHeadline_Light.svg#NokiaPure") format('svg'); /* Legacy iOS */
}

/* NokiaPureHeadline - regular */
 @font-face {
     font-family: 'NokiaPureHeadlineRegular';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureHeadline_Regular/NokiaPureHeadline_Regular.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureHeadline Regular'), local('NokiaPureHeadline-Regular'), url("../fonts/NokiaPureHeadline_Regular/NokiaPureHeadline_Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHeadline_Regular/NokiaPureHeadline_Regular.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHeadline_Regular/NokiaPureHeadline_Regular.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHeadline_Regular/NokiaPureHeadline_Regular.svg#NokiaPure") format('svg'); /* Legacy iOS */
}

/* NokiaPureHeadline - ultralight */
 @font-face {
     font-family: 'NokiaPureHeadlineUltralight';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureHeadline_Ultralight/NokiaPureHeadline_Ultralight.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureHeadline Ultralight'), local('NokiaPureHeadline-Ultralight'), url("../fonts/NokiaPureHeadline_Ultralight/NokiaPureHeadline_Ultralight.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHeadline_Ultralight/NokiaPureHeadline_Ultralight.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHeadline_Ultralight/NokiaPureHeadline_Ultralight.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHeadline_Ultralight/NokiaPureHeadline_Ultralight.svg#NokiaPure") format('svg'); /* Legacy iOS */
}


/* NokiaPureText - bold */
 @font-face {
     font-family: 'NokiaPureTextBold';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureText_Bold/NokiaPureText_Bold.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureText Bold'), local('NokiaPureText-Bold'), url("../fonts/NokiaPureText_Bold/NokiaPureText_Bold.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureText_Bold/NokiaPureText_Bold.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureText_Bold/NokiaPureText_Bold.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureText_Bold/NokiaPureText_Bold.svg#NokiaPureText") format('svg'); /* Legacy iOS */
}

/* NokiaPureText - medium */
 @font-face {
     font-family: 'NokiaPureTextMedium';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureText_Medium/NokiaPureText_Medium.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureText Medium'), local('NokiaPureText-Medium'), url("../fonts/NokiaPureText_Medium/NokiaPureText_Medium.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureText_Medium/NokiaPureText_Medium.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureText_Medium/NokiaPureText_Medium.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureText_Medium/NokiaPureText_Medium.svg#NokiaPureText") format('svg'); /* Legacy iOS */
}

/* NokiaPureText - light */
 @font-face {
     font-family: 'NokiaPureTextLight';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureText_Light/NokiaPureText_Light.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureText Light'), local('NokiaPureText-Light'), url("../fonts/NokiaPureText_Light/NokiaPureText_Light.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureText_Light/NokiaPureText_Light.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureText_Light/NokiaPureText_Light.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureText_Light/NokiaPureText_Light.svg#NokiaPureText") format('svg'); /* Legacy iOS */
}

/* NokiaPureText - regular */
 @font-face {
     font-family: 'NokiaPureTextRegular';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureText_Regular/NokiaPureText_Regular.eot"); /* IE9 Compat Modes */
     src: local('NokiaPureText Regular'), local('NokiaPureText-Regular'), url("../fonts/NokiaPureText_Regular/NokiaPureText_Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureText_Regular/NokiaPureText_Regular.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureText_Regular/NokiaPureText_Regular.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureText_Regular/NokiaPureText_Regular.svg#NokiaPureText") format('svg'); /* Legacy iOS */
}

/* NokiaPure-300 - light */
 @font-face {
     font-family: 'NokiaPure';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NokiaPureHWeb-Light.eot"); /* IE9 Compat Modes */
     src: local('NokiaPure Light'), local('NokiaPure-Light'), url("../fonts/NokiaPureHWeb-Light.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHWeb-Light.woff2") format('woff2'), /* Super Modern Browsers */
     url("../fonts/NokiaPureHWeb-Light.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHWeb-Light.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHWeb-Light.svg#NokiaPure") format('svg'); /* Legacy iOS */
}

/* NokiaPure-400 - regular */
 @font-face {
     font-family: 'NokiaPure';
     font-style: normal;
     font-weight: 400;
     src: url("../fonts/NokiaPureHWeb-Regular.eot"); /* IE9 Compat Modes */
     src: local('NokiaPure'), local('NokiaPure-Regular'), url("../fonts/NokiaPureHWeb-Regular.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHWeb-Regular.woff2") format('woff2'), /* Super Modern Browsers */
     url("../fonts/NokiaPureHWeb-Regular.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHWeb-Regular.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHWeb-Regular.svg#NokiaPure") format('svg'); /* Legacy iOS */
}

/* NokiaPure-700 - bold */
 @font-face {
     font-family: 'NokiaPure';
     font-style: normal;
     font-weight: 700;
     src: url("../fonts/NokiaPureHWeb-Bold.eot"); /* IE9 Compat Modes */
     src: local('NokiaPure Bold'), local('NokiaPure-Bold'), url("../fonts/NokiaPureHWeb-Bold.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHWeb-Bold.woff2") format('woff2'), /* Super Modern Browsers */
     url("../fonts/NokiaPureHWeb-Bold.woff") format('woff'), /* Modern Browsers */
     url("../fonts/NokiaPureHWeb-Bold.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHWeb-Bold.svg#NokiaPure") format('svg'); /* Legacy iOS */
}

/* NokiaPureHeadline - light */
 @font-face {
     font-family: 'NokiaPureHeadline';
     font-style: normal;
     font-weight: 700;
     src: url("../fonts/Nokia_Pure/NokiaPureHeadlineV1.170/NokiaPureHeadline_Light.eot"); /* IE9 Compat Modes */
     src: local('NokiaPure Bold'), local('NokiaPure-Bold'), url("../fonts/NokiaPureHWeb-Bold.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("../fonts/NokiaPureHWeb-Bold.woff2") format('woff2'), /* Super Modern Browsers */
     url("../fonts/NokiaPureHWeb-Bold.woff") format('woff'), /* Modern Browsers */
     url("../fonts/Nokia_Pure/NokiaPureHeadlineV1.170/NokiaPureHeadline_Light.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/NokiaPureHWeb-Bold.svg#NokiaPure") format('svg'); /* Legacy iOS */
}
 