* {
	font-family: "NokiaPureHeadlineRegular","NokiaPure","Helvetica Neue",sans-serif;
}

/* kiosk colors */
.n-color-black {
    color: #000000;
}

.n-color-white {
    color: #FFFFFF;
}

.n-color-applegreen {
    color: #B7DF48;
}

.n-color-darkgreen {
    color: #00D639;
}

.n-color-blue {
    color: #00C9FF;
}

.n-color-ceruleanblue {
    color: #03D0FF;
}

.n-color-pumpkinorange {
    color: #FF7900;
}

.n-color-canaryyellow {
    color: #FFBF02;
}

.n-color-pitayapink {
    color: #FF1654;
}

.n-color-amethyst {
    color: #8949D5;
}

.n-color-pink {
    color: #CF4DB0;
}

.n-color-yellow {
    color: #FDC91C;
}

.n-color-red {
    color: #FF3154;
}

.n-color-slide-bg {
    color: #85DED5;
}

.n-color-lightgrey {
    color: #EDF2F5;
}

.n-color-mediumgrey {
    color: #98A2AE;
}

.n-color-darkgrey {
    color: #4D5766;
}

.n-color-darkblue {
    color: #1A64FF;
}

/* background colors */
.n-bg-black {
    background-color: #000000;
}

.n-bg-white {
    background-color: #FFFFFF;
}

.n-bg-applegreen {
    background-color: #B7DF48;
}

.n-bg-darkgreen {
    background-color: #00D639;
}

.n-bg-blue {
    background-color: #00C9FF;
}

.n-bg-ceruleanblue {
    background-color: #03D0FF;
}

.n-bg-pumpkinorange {
    background-color: #FF7900;
}

.n-bg-canaryyellow {
    background-color: #FFBF02;
}

.n-bg-pitayapink {
    background-color: #FF1654;
}

.n-bg-amethyst {
    background-color: #8949D5;
}

.n-bg-pink {
    background-color: #CF4DB0;
}

.n-bg-yellow {
    background-color: #FDC91C;
}

.n-bg-red {
    background-color: #FF3154;
}

.n-bg-slide-bg {
    background-color: #85DED5;
}

.n-bg-lightgrey {
    background-color: #EDF2F5;
}

.n-bg-mediumgrey {
    background-color: #98A2AE;
}

.n-bg-darkgrey {
    background-color: #4D5766;
}

.n-bg-darkblue {
    background-color: #1A64FF;
}

/* typography */
.n-txt-uppercase {
    text-transform: uppercase;
}

.n-txt-lowercase {
    text-transform: lowercase;
}

.n-txt-capitalize {
    text-transform: capitalize;
}

.n-title {
    font-family: "NokiaPure","Roboto","Helvetica Neue",sans-serif;
    font-size: 75px;
    letter-spacing: 7.5px;
    text-transform: uppercase;
    color: #EDF2F5;
}

.n-title-larger {
    font-size: 82px;
    letter-spacing: 7.5px;
}

.n-title-large {
    font-size: 75px;
    letter-spacing: 7.5px;
}

.n-title-bigger {
    font-size: 68px;
    letter-spacing: 7.5px;
}

.n-title-big {
    font-size: 48px;
    letter-spacing: 7.5px;
}

.n-title-medium {
    font-size: 36px;
    letter-spacing: 7.5px;
}

.n-title-small {
    font-size: 18px;
    letter-spacing: 7.5px;
}

.n-bold {
    font-weight: bold;
}

/* buttons */
.btn-on-off {
    border-radius: 100px;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.btn-on {
    background: #B7DF48;
}

.btn-off {
    background: #FF3154;
}

.btn-blocked-toggle {
    background: #98A2AE;
}

/* border */
.n-bdr-light {
    border: 1px solid #EDF2F5;
}

.n-bdr-dark {
    border: 1px solid #4D5766;
}

.n-bdr-medium {
    border: 1px solid #98A2AE;
}
 