body {
    background-color: #fff;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    background-color: #000c1f;
    font-family: "NokiaPureHeadlineRegular","NokiaPure","Helvetica Neue",sans-serif;
}

* {
	font-family: "NokiaPureHeadlineRegular","NokiaPure","Helvetica Neue",sans-serif;
}

#lottie_00 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_01 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_02 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_03 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_04 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}
 
#lottie_05 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_06 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_07 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_08 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}

#lottie_09 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    background-color: #000c1f;
}
 