/* General */
@font-face {
  font-family: 'NokiaPureHeadline_Regular';
  src: url('../fonts/Nokia_Pure/NokiaPureHeadlineV1.170/NokiaPureHeadline_Regular.ttf');
}


.xgrid ,.ygrid {
  /* stroke:grey !important; */
}
.buttonImageClass{
        background-color: #005a79;
        font-size: 34px; 
        font-style: normal;
        color: white;
        font-family: 'Arial';
        }

#bitrateText{
    font-size: 64px;
    color: white;
    font-family: 'Arial';
    position:relative; left:8%;
}

#bitrateValue{
    font-size: 64px;
    color: #03D0FF;
    font-family: 'Arial';
}

#imageDiv{
    clip-path: inset(0px 80px 0px 100px);
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'NokiaPureHeadline_Regular';
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    background-color:#e7e6e6;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 50px;   
    /* Position the tooltip text - see examples below! */
    z-index: 1;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    top: 98%; /* At the bottom of the tooltip */
    left: 19%;
    border-width: 65px;
    border-style: solid;
    border-color:#e7e6e6 transparent transparent transparent;
    position: absolute;
  }

  .tooltip .tooltiptext.alpha::after {
    right: 22%;
    left: inherit;
  }

  .tooltip .tooltiptext.charlie::after {
    right: 5%;
    left: inherit;
  }
  .tooltip .tooltiptext.delta::after {
    right: 2%;
    left: inherit;
  }

  table{
      color: black;
      width: 100%;
      font-size: 3rem;
  }