/* General */
/* @font-face {
	font-family: 'NokiaPureHeadline_Regular';
	src: url('fonts/Nokia_Pure/NokiaPureHeadlineV1.170/NokiaPureHeadline_Regular.ttf');
} */

body{
    background-color: #000c1f;
}

.buttonClass {
	background-color: #03d0ff;
	font-size: 34px; 
	font-style: normal;
	color: #000;
	font-family: 'NokiaPureHeadlineRegular';
	height: 80px;
	cursor: pointer;
	margin-right: 10px;
}

.btn-primary:hover {
    color: #000;
    background-color: #00D639;
}

.btn-primary:focus {
    color: #000;
    background-color: #00D639;
}

#classResultText {
    font-size: 64px;
    color: white;
    font-family: 'Arial';
    position: relative;
}

#bitrateValue {
    font-size: 64px;
    color: #03D0FF;
    font-family: 'Arial';
}

#imageDiv {
    clip-path: inset(0px 80px 0px 100px);
}

#myProgress {
	width: 460px;
	background-color: #ffffff;
	height: 20px;
}

#myBar {
	width: 1%;
	height: 20px;
	line-height: 20px;
	font-size: 34px;
	background-color: #03d0ff;
}