body{
    background-color: #000c1f;
}

* {
	font-family: "NokiaPureHeadlineLight","NokiaPure","Helvetica Neue",sans-serif;
}

.buttonImageClass{
	background-color: #03D0FF;
	font-size: 28px; 
	font-style: normal;
	color: #000;
	font-family: "NokiaPureHeadlineLight","NokiaPure","Helvetica Neue",sans-serif;
	width: 150px;
	height: 75px;
}

.btn-primary:hover {
    background-color: #00D639;
    border-color: #00D639;
	color: #000;
}

.btn-primary:focus {
    background-color: #00D639;
    border-color: #00D639;
	color: #000;
}

#bitrateText{
    color: white;
    font-family: "NokiaPureHeadlineLight","NokiaPure","Helvetica Neue",sans-serif;
    position:relative;
	left: 10.5%;
}

#bitrateValue{
    color: #03D0FF;
    font-family: "NokiaPureHeadlineLight","NokiaPure","Helvetica Neue",sans-serif;
}

#imageDiv{
    clip-path: inset(0px 80px 0px 100px);
}

#myProgress {
	width: 460px;
	background-color: #ffffff;
	position: relative;
	left: 10.5%;
	height: 20px;
}

#myBar {
	width: 1%;
	height: 20px;
	line-height: 20px;
	font-size: 34px;
	background-color: #03D0FF;
}

.container1, .container2 {
	float: right;
	width: 22%;
	margin-right: 33%;
}

.bitrate-radio {
	height: 65px;
	margin-top: 3%;
	width: 80%;
	font-family: "NokiaPureHeadlineLight","NokiaPure","Helvetica Neue",sans-serif;
}

.bitrate-radio-active {
	border-bottom: 1px solid #03D0FF;
	color: #03D0FF;
}

.bitrate-radio-inactive {
	border-bottom: 1px solid #005a78;
	color: #005a78;
}

input[type=radio] {
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
}

.bitrate-measured {
	color: #FFF;
	margin-left: 10.5%;
	font-size: 28px;
}

