<head>
	<link href="../css/fonts.css" rel="stylesheet">
	<link href="../css/kiosk-styles.css" rel="stylesheet">
  <!-- Plotly.js -->
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    <!-- JAVASCRIPT CODE GOES HERE -->
      
var repeatID;

// Repeatedly call the loadPlotDataFunc()
function repeatLoadPlotData() {
  repeatID = setInterval(loadPlotDataFunc, 1000);
}

function loadPlotDataFunc() {
    //load the data from a file
        var stokesData123 = (function() {
        var stokesData123 = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': "stokesPlotlyAll.json",
            'dataType': "json",
            'success': function(data) {
                stokesData123 = data;
            }
        });
        return stokesData123;
        })();  
    
    //console.log(cdData12)
    // plot the data with Plotly
    var data = [ stokesData123["stokesMVT1"], stokesData123["stokesMVT2"], stokesData123["stokesMVT3"]];

        var layout = {
		legend: { 
			"orientation": "v"
		},
		paper_bgcolor:"#000c1f",
		plot_bgcolor:"#000c1f",
		showlegend: false,
		font: {
			family: 'NokiaPureHeadlineRegular',
			size: 18,
			color: '#ffffff'
		},
		xaxis: {
			title: 'TIME',
			showgrid: true,
			zeroline: true,
			showline: true,
			mirror: 'ticks',
			gridcolor: '#FF0000',
			gridwidth: 1,
			zerolinecolor: '#EDF2F5',
			zerolinewidth: 2,
			linecolor: '#EDF2F5',
			linewidth: 1
		},
		yaxis: {
			title: 'STOKES',
			showgrid: true,
			zeroline: true,
			showline: true,
			mirror: 'ticks',
			gridcolor: '#FF0000',
			gridwidth: 1,
			zerolinecolor: '#EDF2F5',
			zerolinewidth: 2,
			linecolor: '#EDF2F5',
			linewidth: 1
		}
	};

    // plot the data
    Plotly.newPlot('myDiv', data, layout, {showSendToCloud: true});
    
} // End of loadPlotDataFunc()

//send REST POST message
function sendRESTfti(postData) {
    var postData = postData;
    $.ajax({
        url: "http://10.4.17.186:8000/",
        contentType: "application/json",
        dataType: "json",
        type: "POST", //send it through get method
        data: postData
        })
    }
    
    
</script>
    
    <div style="width: 700px; height: 500px" id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    
    <!-- Press this button to start the loop to replot the data files. If you replace the data files, it will update the graph
    -->
    <button class="buttonImageClass" style="position:absolute; top:20%; left:60%; transform: translate(-50%, -50%);width:100px; height:50px" id="buttonImageID" onclick = "repeatLoadPlotData()">Repeat load and plot Stokes</button>
    
    <!-- buttons for the node stats -->
    <button class="buttonImageClass" style="position:absolute; top:40%; left:60%; transform: translate(-50%, -50%);width:100px; height:50px" id="postfti" onclick = "sendRESTfti('Movement 1')">Send REST MVT1</button>
    
    <button class="buttonImageClass" style="position:absolute; top:40%; left:70%; transform: translate(-50%, -50%);width:100px; height:50px" id="postfti" onclick = "sendRESTfti('Movement 2')">Send REST MVT2</button>
    
    <button class="buttonImageClass" style="position:absolute; top:40%; left:80%; transform: translate(-50%, -50%);width:100px; height:50px" id="postfti" onclick = "sendRESTfti('Movement 3')">Send REST MVT3</button>
    
    <button class="buttonImageClass" style="position:absolute; top:40%; left:90%; transform: translate(-50%, -50%);width:100px; height:50px" id="postfti" onclick = "sendRESTfti('Movement 4')">Send REST MVT4</button>
    </body>